<div class="container">
  <section #contact_section class="contact-section">
    <div class="contact-title">
      <div class="title">
        <h3>Contact Information</h3>
      </div>
    </div>
    <div class="contact-info">
      <div class="info-block">
        <div class="info">
          <div class="heading">
            <ul>
              <li><strong>Country: </strong>India</li>
              <li><strong>State: </strong>Maharashtra</li>
              <li><strong>City: </strong>India</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="info">
          <div class="heading">
            <ul>
              <li>
                <strong>Email: </strong>
                <a
                  class="a"
                  href="mailto:salokhevarad99@gmail.com"
                  target="_blank"
                  >salokhevarad99&#64;gmail.com</a
                >
              </li>
              <li>
                <strong>Telegram: </strong
                ><a
                  href="https://t.me/varad_salokhe?start=Hi_I_want_to_hire_you"
                  target="_blank"
                >
                  &#64;varad
                </a>
              </li>
              <li>
                <strong>Skype: </strong
                ><a href="skype:live:.cid.4a18ad5e903ce9ce?chat">Varad</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="info">
          <div class="heading">
            <ul>
              <li><strong>Support: </strong>+91-7972365800</li>
              <li><strong>Personal: </strong>+91-7378540540</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section #contact_form class="contact-form">
    <div class="contact-title">
      <div class="title">
        <h3>Get in touch</h3>
      </div>
    </div>
    <div class="outer-form">
      <div class="form-wrap">
        <div class="w-100">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="info-form">
              <div class="form-field">
                <span class="position-relative d-flex">
                  <div class="icon">
                    <i class="bi bi-person-fill"></i>
                  </div>
                  <input
                    class="field"
                    type="text"
                    formControlName="name"
                    id=""
                    placeholder="Name"
                  />
                </span>
              </div>
              <div class="form-field">
                <span class="position-relative d-flex">
                  <div class="icon">
                    <i class="bi bi-envelope-at-fill"></i>
                  </div>
                  <input
                    class="field"
                    type="email"
                    formControlName="email"
                    id=""
                    placeholder="Email"
                  />
                </span>
              </div>
              <div class="form-field">
                <span class="position-relative d-flex">
                  <div class="icon" style="align-items: flex-start">
                    <i class="bi bi-chat-left-text-fill"></i>
                  </div>
                  <textarea
                    class="field"
                    maxlength="2000"
                    cols="40"
                    rows="1"
                    formControlName="message"
                    placeholder="Message"
                    id=""
                    style="height: 150px; padding-top: 15px"
                  ></textarea>
                </span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">send message</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
