<div>
  <section #about_section class="about-section">
    <div class="about-container">
      <div class="about-column">
        <div class="about-left-right">
          <div class="about-element">
            <div class="about-title">
              <h4>Education</h4>
            </div>
          </div>
          <div class="about-content-container">
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left" style="width: 50%">
                      <h5>
                        Centre for Development of Advanced Computing (CDAC)
                      </h5>
                      <div class="sub-title mb-2">
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="header-right">
                      <span class="pass-date"> sep 2023 - feb 2024 </span>
                    </div>
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>Post Graguation Diploma in Advance Computing Pune,</p>
                    </div>
                    <div class="certificate chevron">
                      <a
                        href="http://"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <span>certificate</span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left">
                      <h5>Shivaji University Kolhapur</h5>
                      <div class="sub-title mb-2">
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="header-right">
                      <span class="pass-date"> jul 2018 - mar 2021 </span>
                    </div>
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>
                        Bachelor's Degree in Mechanical D.Y.Patil Collage of
                        Engg. & Technology, Maharashtra, India
                      </p>
                    </div>
                    <div class="certificate chevron">
                      <a
                        href="http://"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <span>degree</span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left">
                      <h5>Maharashtra State Board of Technical Engineering</h5>
                      <div class="sub-title mb-2">
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="header-right">
                      <span class="pass-date"> aug 2015 - jun 2018 </span>
                    </div>
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>
                        Polytechnic Diploma in Automobile, New Polytechnic
                        Kolhapur, Maharashtra, India
                      </p>
                    </div>
                    <div class="certificate chevron">
                      <a
                        href="http://"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <span>diploma</span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-column">
        <div class="about-left-right">
          <div class="about-element">
            <div class="about-title">
              <h4>Work History</h4>
            </div>
          </div>
          <div class="about-content-container">
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left" style="width: 50%">
                      <h5>Four Principals</h5>
                      <div class="sub-title mb-2">
                        <span>Angular Frontend Developer</span>
                      </div>
                    </div>
                    <div class="header-right">
                      <span class="pass-date"> feb 2024 - current </span>
                    </div>
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>
                        Developed a custom business website for Four Principals
                        using AngularJS, PrimeNG, and EmailJS. Designed a
                        responsive and interactive UI with PrimeNG components,
                        ensuring a smooth user experience. Integrated EmailJS
                        for seamless email communication, enhancing customer
                        interactions.
                      </p>
                    </div>
                    <div class="certificate chevron">
                      <a
                        href="http://"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <span></span>
                        <!-- <i class="bi bi-caret-right-fill"></i> -->
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left">
                      <h5>Portfolio Website</h5>
                      <div class="sub-title mb-2">
                        <span>Full-Stack Developer</span>
                      </div>
                    </div>
                    <!-- <div class="header-right">
                      <span class="pass-date"> </span>
                    </div> -->
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>
                        Developed a Portfolio Website using Angular, Bootstrap,
                        Node.js, and MySQL to showcase my skills and projects.
                        The website features a responsive design, dynamic
                        content management, and a structured backend for
                        efficient data handling.
                      </p>
                    </div>
                    <div class="certificate chevron">
                      <a
                        href="http://"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <span>Link</span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left">
                      <h5>Employee Management System</h5>
                      <div class="sub-title mb-2">
                        <span>Effortless Employee Data Management </span>
                      </div>
                    </div>
                    <!-- <div class="header-right">
                      <span class="pass-date"> </span>
                    </div> -->
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>
                        A full-stack Employee Management System built with
                        Angular, PrimeNG, Spring Boot, and MySQL to manage
                        employee records efficiently. It features CRUD
                        operations, role-based authentication, and a responsive
                        UI for seamless data handling.
                      </p>
                    </div>
                    <div class="certificate chevron">
                      <a
                        href="http://"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <span>Link</span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
