<div>
  <section #about_section class="about-section">
    <div class="about-container">
      <div class="about-column">
        <div class="about-left-right">
          <div class="about-element">
            <div class="about-title">
              <h4>Education</h4>
            </div>
          </div>
          <div class="about-content-container">
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left" style="width: 50%">
                      <h5>Centre for Development of Advanced Computing (CDAC)</h5>
                      <div class="sub-title mb-2">
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="header-right">
                      <span class="pass-date"> sep 2023 - feb 2024 </span>
                    </div>
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>Post Graguation Diploma in Advance Computing Pune,</p>
                    </div>
                    <div class="certificate chevron">
                      <a href="http://" target="_blank" rel="noopener noreferrer">
                        <span>certificate</span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left">
                      <h5>Shivaji University Kolhapur</h5>
                      <div class="sub-title mb-2">
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="header-right">
                      <span class="pass-date"> jul 2018 - mar 2021 </span>
                    </div>
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>
                        Bachelor's Degree in Mechanical D.Y.Patil Collage of Engg.
                        & Technology, Maharashtra, India
                      </p>
                    </div>
                    <div class="certificate chevron">
                      <a href="http://" target="_blank" rel="noopener noreferrer">
                        <span>Degree </span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left">
                      <h5>Maharashtra State Board of Technical Engineering</h5>
                      <div class="sub-title mb-2">
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="header-right">
                      <span class="pass-date"> aug 2015 - jun 2018 </span>
                    </div>
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>
                        Polytechnic Diploma in Automobile, New Polytechnic
                        Kolhapur, Maharashtra, India
                      </p>
                    </div>
                    <div class="certificate chevron">
                      <a href="http://" target="_blank" rel="noopener noreferrer">
                        <span>Diploma</span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-column">
        <div class="about-left-right">
          <div class="about-element">
            <div class="about-title">
              <h4>Work History</h4>
            </div>
          </div>
          <div class="about-content-container">
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left" style="width: 50%">
                      <h5>Centre for Development of Advanced Computing (CDAC)</h5>
                      <div class="sub-title mb-2">
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="header-right">
                      <span class="pass-date"> sep 2023 - feb 2024 </span>
                    </div>
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>Post Graguation Diploma in Advance Computing Pune,</p>
                    </div>
                    <div class="certificate chevron">
                      <a href="http://" target="_blank" rel="noopener noreferrer">
                        <span>certificate</span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left">
                      <h5>Shivaji University Kolhapur</h5>
                      <div class="sub-title mb-2">
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="header-right">
                      <span class="pass-date"> jul 2018 - mar 2021 </span>
                    </div>
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>
                        Bachelor's Degree in Mechanical D.Y.Patil Collage of Engg.
                        & Technology, Maharashtra, India
                      </p>
                    </div>
                    <div class="certificate chevron">
                      <a href="http://" target="_blank" rel="noopener noreferrer">
                        <span>Degree </span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-content">
              <div class="about-content-item">
                <div class="about-mark-light"></div>
                <div class="about-timeline-mark"></div>
                <div class="about-timeline-content">
                  <div class="content-header">
                    <div class="header-left">
                      <h5>Maharashtra State Board of Technical Engineering</h5>
                      <div class="sub-title mb-2">
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="header-right">
                      <span class="pass-date"> aug 2015 - jun 2018 </span>
                    </div>
                  </div>
                  <div class="content-desc">
                    <div>
                      <p>
                        Polytechnic Diploma in Automobile, New Polytechnic
                        Kolhapur, Maharashtra, India
                      </p>
                    </div>
                    <div class="certificate chevron">
                      <a href="http://" target="_blank" rel="noopener noreferrer">
                        <span>Diploma</span>
                        <i class="bi bi-caret-right-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </section>
</div>
