.info-bar {
  width: 290px;
  height: calc(100vh - 40px);
  background: #20202a;
  z-index: 999;
}

.info-bar-frame {
  padding: 0 15px;
}

.profile-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  padding: 30px;
  height: 235px;
  background: linear-gradient(
    159deg,
    rgba(37, 37, 50, 0.98) 0%,
    rgba(35, 35, 45, 0.98) 100%
  );
  text-align: center;
  box-shadow: 0 10px 15px 0 rgba(15, 15, 20, 0.1);
}

.profile-img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px;
}

.profile-img img {
  width: 100%;
  height: 105%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s ease-in-out;
}

.name-header {
  color: #fafafc;
  transition: 0.4s ease-in-out;
}

.profile-lamp .available-lamp {
  position: absolute;
  bottom: 1px;
  right: 5px;
  height: 12px;
  width: 12px;
  background: #ffc107;
  border-radius: 50%;
  z-index: 0;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0px 8px 0px #fafafc;
  animation: blinkGlow 1s infinite alternate;
}

@keyframes blinkGlow {
  0% {
    box-shadow: 0 0 8px #8c8c8e, 0 0 12px #8c8c8e;
  }
  100% {
    box-shadow: 0 0 5px #8c8c8e, 0 0 10px #8c8c8e;
  }
}

.profile-desc {
  font-size: 13px;
  text-align: center;
  color: #6c6c70;
}

.scroll-frame {
  position: relative;
  top: 235px;
  padding: 10px 0 50px;
  width: 100%;
  height: calc(100vh - 285px);
  overflow-y: auto;
}

.address {
  color: #8c8c8e;
  padding-top: 15px;
  padding-bottom: 15px;
}

.address ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

h6 {
  line-height: 1.7;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.7px;
  word-wrap: break-word;
}

.address ul li span {
  text-align: right;
  line-height: 1.7;
  font-size: 13px;
}

.profile-ls-divider {
  background: #8c8c8e;
  width: 100%;
  height: 1px;
  opacity: 0.3;
  margin-top: 5px;
  margin-bottom: 10px;
}

.lang-skill {
  display: block;
  font-size: 0;
  padding-top: 20px;
  padding-bottom: 15px;
}

.lang-skill-item {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  text-align: center;
  margin-bottom: 15px;
}

.circle-progress {
  position: relative;
  width: 65%;
}

.progress-ring {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto 15px;
  background: conic-gradient(
    #ffc107 calc(var(--progress) * 3.6deg),
    #191924 0deg
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  position: relative;
  animation: fillProgress 1.5s ease-out forwards;
}

.progress-ring::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  background: #20202a;
  border-radius: 50%;
}

.progress-text {
  position: relative;
  color: #cacace !important;
  font-size: 13px;
  font-weight: 400;
}

.hard-skill {
  padding-bottom: 15px;
  padding-top: 10px;
}

.skill-container {
  width: 100%;
  position: relative;
}

.skill-heading {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items properly */
  margin-bottom: 10px;
}

.progress {
  height: 5px;
  background-color: #191924;
  overflow: hidden;
  border-radius: 0;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #ffc107;
  transition: width 1.5s ease-in-out;
}

.knowledge-list {
  padding-left: 0;
}

.knowledge-list li {
  color: #8c8c8e;
  text-align: left;
}

.knowledge-list li i {
  color: #ffc107;
  font-size: 15px;
  margin-right: 10px;
}

.profile-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 50px;
  padding: 15px 0;
  background: linear-gradient(
    159deg,
    rgba(37, 37, 50, 0.98) 0%,
    rgba(35, 35, 45, 0.98) 100%
  );
  text-align: center;
  box-shadow: 0 -10px 15px 0 rgba(15, 15, 20, 0.1);
}

.profile-footer a {
  color: #8c8c8e;
  font-size: 13px;
  margin: 0 8px;
  text-decoration: none;
  transition: 0.2sease-in-out;
}

.profile-footer a i {
  font-weight: 400;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.cv-link {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cv-link a {
  color: #8c8c8e;
  font-size: 14px;
  margin: 0 8px;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.cv-link a:hover {
  color: #fafafc;
}
