<footer class="position-fixed h-100">
  <div class="info-bar">
    <div class="info-bar-frame">
      <section #profile_section>
        <div class="profile-header">
          <div class="profile-img">
            <img
              src="../../../assets/images/profile-1.jpg"
              alt="Profile Image"
            />
            <div class="profile-lamp">
              <div
                class="available-lamp"
                title="I am available for freelance hire"
              ></div>
            </div>
          </div>
          <h5 class="mb-10 name-header" routerLink="/intro">Varad Salokhe</h5>
          <div class="profile-desc">
            Full-Stack Developer
            <br />
            Freelancer
          </div>
          <div class="scroll-frame">
            <div class="address">
              <ul class="p-0 m-0">
                <li>
                  <h6>Residence:</h6>
                  <span>India</span>
                </li>
                <li>
                  <h6>City:</h6>
                  <span>Kolhapur</span>
                </li>
                <li>
                  <h6>Age</h6>
                  <span>25</span>
                </li>
              </ul>
            </div>
            <div class="profile-ls-divider"></div>
            <div class="lang-skill">
                <div class="lang-skill-item">
                    <div class="circle-progress">
                        <div class="progress-ring" style="--progress: 80;">
                            <div class="progress-text">85%</div>
                          </div>
                          <h6>English</h6>
                    </div>
                </div>
                <div class="lang-skill-item">
                    <div class="circle-progress">
                        <div class="progress-ring" style="--progress: 90;">
                            <div class="progress-text">90%</div>
                          </div>
                          <h6>Hindi</h6>
                    </div>
                </div>
                <div class="lang-skill-item">
                    <div class="circle-progress">
                        <div class="progress-ring" style="--progress: 100;">
                            <div class="progress-text">100%</div>
                          </div>
                          <h6>Marathi</h6>
                    </div>
                </div>
            </div>
            <div class="profile-ls-divider"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</footer>
