.menubar-header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: -1rem;
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    159deg,
    rgba(37, 37, 50, 0.98) 0%,
    rgba(35, 35, 45, 0.98) 100%
  );
}

.menubar-btn {
  /* width: 40px;  */
  height: 35px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menubar-btn:hover {
  transform: scale(1.1); 
}

.navbar-toggler {
  border: 0px;
}

.navbar-nav .nav-link {
  color: #8c8c8e;
}

.offcanvas {
  background-color: #1f1f29;
  margin: 20px 20px 20px 0 !important;
  width: 200px;
  z-index: 1100 !important; /* Ensure it's the highest */
}

.offcanvas-end {
  right: auto;
}

#active-tab {
  transform: rotate(90deg);
  position: absolute;
  color: #8c8c8e;
  overflow: hidden;
  top: 130px;
  padding: 20px;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 1;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  z-index: 900;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 10px;
    right: 0px;
    left: 0px;
  }
  .menubar-header {
    width: 100px;
    height: 90px;
    padding: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    margin: 0;
  }
  .offcanvas {
    margin: 0 !important;
    width: 150px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    top: 20px;
  }

  #active-tab {
    transform: rotate(0deg);
    top: 0px;
    right: 150px;
  }
}
