<div>
  <section #intro_section class="intro-section">
    <div class="intro-container">
      <div class="intro-column">
        <div class="intro-wrap">
          <div class="intro-element">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="intro-banner">
                    <div class="intro-content">
                      <div class="intro-title">
                        <h1>Discover my Amazing Art Space!</h1>
                        <div class="intro-code">
                          &lt;<i>code</i>&gt; I build
                          <span>{{ currentText }}</span>
                          &lt;/<i>code</i>&gt;
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
