.container {
  max-width: 1100px;
}

.heading {
  padding-left: 30px;
  text-align: left;
  color: #fff;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}

.project-card {
  flex: 1 1 calc(50% - 20px);
  max-width: 400px;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: #2b2b35;
  padding: 20px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px 4px #59595b;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #8c8c8e;
}

.card-body {
  flex: 1;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
}

.card-subtitle {
  font-size: 1rem;
  color: #8c8c8e;
  font-style: italic;
  padding-bottom: 10px;
}

.card-text {
  font-size: 0.95rem;
  color: #8c8c8e;
  padding-bottom: 10px;
}

.stack-text {
  color: #8c8c8e;
}

.card-footer {
  background: none;
  border-top: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 6px;
  font-weight: 500;
}

.btn-primary {
  background-color: #ffc107;
  border-color: #ffc107;
  margin: 20px;
}

.btn-secondary{
  margin: 20px;
}

@media (max-width: 768px) {
  .btn-primary {
    margin: 0px 20px 0px 0px !important;
  }
}

.btn-outline-dark:hover {
  background-color: #333;
  color: #8c8c8e;
}

/* Responsive */
@media (max-width: 768px) {
  .project-card {
    flex: 1 1 100%; /* Full width on smaller screens */
  }
}
