.app-wrapper {
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  background: #1e1e28;
  background-size: cover;
  width: auto;
  height: 100%;
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.home-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.app-footer {
  position: fixed;
  left: 20px;
  top: 20px;
  bottom: 20px;
}

.app-header {
  position: fixed;
  top: 20px;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
}

.home-content {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 310px;
  right: 120px;
  overflow-y: auto;
  align-items: center;
  transition: 0.55s ease-in-out;
  background: #1e1e28;
  z-index: 900;
}

.contaier-fluid {
  overflow: hidden;
  padding: 30px !important;
  width: 100%;
}

.position {
  padding: 20px 30px;
}

.footer {
  color: #8c8c8e;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  font-size: 12px;
  transition: 0.55s ease-in-out;
  width: 100%;
  padding: 17px 30px 7px;
}

.footer div {
  margin-bottom: 10px;
  width: 100%;
}

.footer a {
  transition: 0.2s ease-in-out;
  color: #8c8c8e;
}
