<div class="app-wrapper">
  <div class="home-container">
    <div class="app-footer">
        <app-footer></app-footer>
    </div>
    <div class="app-header">
        <app-header></app-header>
    </div>
    <div class="home-content">
        <router-outlet></router-outlet>
        <div class="container-fluid position">
          <footer class="footer">
            <div>© 2025 All Rights Reserved.</div>
            <div>
              Email:
              <a class="a" href="mailto:salokhevarad99@gmail.com" target="_blank"
                >salokhevarad99&#64;gmail.com</a
              >
            </div>
          </footer>
        </div>
    </div>
  </div>
</div>
