/* You can add global styles to this file, and also import other style files */
html,
body {
  color: #8c8c8e;
  background-color: #191923 !important;
  font-family: "Poppins", sans-serif;
  overflow-x: visible !important;
  overflow-y: visible !important;
}


* {
  scrollbar-width: none;
}

.bg-color-jaguar {
  background-color: #20202a;
}

.container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.a {
  text-decoration: none;
}